################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tutorial17/obj/x86/Debug

# Per-machine build/run logs from run.sh / run.bat
build_log.txt

# C++ build artifacts from RastertekOriginal/.../Engine/ make
RastertekOriginal/**/Engine/*.o
RastertekOriginal/**/Engine/client

# C++ build artifacts from RastertekCS/source/.../Engine/ make
RastertekCS/source/**/Engine/*.o
RastertekCS/source/**/Engine/client
