UNKNOWN {
	BORDER-LEFT-WIDTH: 0px !important; HEIGHT: 100%; BORDER-RIGHT-WIDTH: 0px !important; WIDTH: 100%; BORDER-BOTTOM-WIDTH: 0px !important; POSITION: fixed; PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; LEFT: 0px; MARGIN: 0px; Z-INDEX: 2147483643 !important; TOP: 0px; PADDING-RIGHT: 0px !important; BORDER-TOP-WIDTH: 0px !important; BACKGROUND-COLOR: rgb(0,0,0); border-radius: 0px; border-image: none; opacity: 0.6; -moz-opacity: 0.6
}
UNKNOWN {
	CURSOR: wait !important
}
UNKNOWN {
	POSITION: fixed; PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; LEFT: 50%; MARGIN: 0px; Z-INDEX: 2147483644 !important; TOP: 50%; PADDING-RIGHT: 0px !important; BACKGROUND-COLOR: rgb(255,255,255); border-radius: 8px; opacity: 1; box-shadow: 0px 0px 30px 5px #000; -moz-box-shadow: 0 0 30px 5px #000; -webkit-box-shadow: 0 0 30px 5px #000
}
UNKNOWN {
	CURSOR: wait !important; HEIGHT: 355px !important; WIDTH: 574px !important; PADDING-TOP: 30px !important; MARGIN-LEFT: -287px !important; MARGIN-TOP: -177px !important
}
UNKNOWN {
	HEIGHT: 355px !important; WIDTH: 855px !important; MARGIN-LEFT: -427px !important; MARGIN-TOP: -177px !important
}
UNKNOWN {
	FONT-FAMILY: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important; TEXT-ALIGN: center !important; MARGIN: auto; DISPLAY: block !important
}
UNKNOWN {
	FONT-SIZE: 36px !important; HEIGHT: auto !important; WIDTH: auto !important; FONT-WEIGHT: normal !important; COLOR: rgb(34,34,34) !important; PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 0px; LINE-HEIGHT: 2em; PADDING-RIGHT: 0px !important
}
UNKNOWN {
	FONT-SIZE: 17px !important; COLOR: rgb(34,34,34) !important; PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 8px 0px; LINE-HEIGHT: 2em; PADDING-RIGHT: 0px !important
}
UNKNOWN {
	MARGIN-BOTTOM: 10px !important
}
UNKNOWN {
	MARGIN-BOTTOM: 30px !important; MARGIN-TOP: 30px !important
}
UNKNOWN {
	TEXT-DECORATION: underline !important; FONT-WEIGHT: bold !important
}
UNKNOWN {
	FONT-SIZE: 20px !important; BORDER-TOP: rgb(170,170,170) 1px solid; HEIGHT: auto !important; BORDER-RIGHT: rgb(170,170,170) 1px solid; WIDTH: 80% !important; BORDER-BOTTOM: rgb(170,170,170) 1px solid; PADDING-BOTTOM: 3px !important; TEXT-ALIGN: center !important; PADDING-TOP: 3px !important; PADDING-LEFT: 3px !important; BORDER-LEFT: rgb(170,170,170) 1px solid; PADDING-RIGHT: 3px !important; border-image: none
}
UNKNOWN {
	BORDER-TOP-COLOR: rgb(66,139,202) !important; BORDER-LEFT-COLOR: rgb(66,139,202) !important; OUTLINE-WIDTH: 0px !important; BORDER-BOTTOM-COLOR: rgb(66,139,202) !important; OUTLINE-STYLE: none !important; BORDER-RIGHT-COLOR: rgb(66,139,202) !important; OUTLINE-COLOR: invert !important
}
UNKNOWN {
	FONT-SIZE: 18px !important; WIDTH: auto !important; FLOAT: right; PADDING-BOTTOM: 0px !important; PADDING-TOP: 8px !important; PADDING-LEFT: 0px !important; MARGIN: 0px; DISPLAY: inline-block; PADDING-RIGHT: 8px !important
}
UNKNOWN {
	CURSOR: pointer !important; VERTICAL-ALIGN: bottom !important; DISPLAY: inline-block
}
UNKNOWN {
	COLOR: rgb(66,139,202) !important
}
UNKNOWN {
	TEXT-DECORATION: none !important; COLOR: rgb(66,139,202) !important; MARGIN-RIGHT: 16px !important
}
UNKNOWN {
	COLOR: rgb(66,139,202) !important
}
UNKNOWN {
	COLOR: rgb(0,177,247) !important
}
UNKNOWN {
	PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 0px; Z-INDEX: 2147483640 !important; PADDING-RIGHT: 0px !important; border-radius: 0px
}
UNKNOWN {
	BORDER-LEFT-WIDTH: 0px !important; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px !important; WIDTH: 240px; BORDER-BOTTOM-WIDTH: 0px !important; POSITION: relative; PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 30px 0px 30px 160px; PADDING-RIGHT: 0px !important; BORDER-TOP-WIDTH: 0px !important; border-radius: 0px; border-image: none
}
UNKNOWN {
	BORDER-LEFT-WIDTH: 0px !important; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px !important; WIDTH: 22px; BORDER-BOTTOM-WIDTH: 0px !important; POSITION: absolute; PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 0px; TOP: 0px; PADDING-RIGHT: 0px !important; BORDER-TOP-WIDTH: 0px !important; BACKGROUND-COLOR: rgb(0,0,0); border-radius: 0px; border-image: none; transform: scale(0.3); animation-name: bounce_spinningSquaresG; animation-duration: 1.9s; animation-iteration-count: infinite; -moz-animation-name: bounce_spinningSquaresG; -moz-animation-duration: 1.9s; -moz-animation-iteration-count: infinite; -moz-animation-direction: linear; -moz-transform: scale(.3); -webkit-animation-name: bounce_spinningSquaresG; -webkit-animation-duration: 1.9s; -webkit-animation-iteration-count: infinite; -webkit-animation-direction: linear; -webkit-transform: scale(.3); -o-animation-name: bounce_spinningSquaresG; -o-animation-duration: 1.9s; -o-animation-iteration-count: infinite; -o-animation-direction: linear; -o-transform: scale(.3)
}
UNKNOWN {
	LEFT: 0px; animation-delay: 0.76s; -moz-animation-delay: 0.76s; -webkit-animation-delay: 0.76s; -o-animation-delay: 0.76s
}
UNKNOWN {
	LEFT: 30px; animation-delay: 0.95s; -moz-animation-delay: 0.95s; -webkit-animation-delay: 0.95s; -o-animation-delay: 0.95s
}
UNKNOWN {
	LEFT: 60px; animation-delay: 1.14s; -moz-animation-delay: 1.14s; -webkit-animation-delay: 1.14s; -o-animation-delay: 1.14s
}
UNKNOWN {
	LEFT: 90px; animation-delay: 1.33s; -moz-animation-delay: 1.33s; -webkit-animation-delay: 1.33s; -o-animation-delay: 1.33s
}
UNKNOWN {
	LEFT: 120px; animation-delay: 1.52s; -moz-animation-delay: 1.52s; -webkit-animation-delay: 1.52s; -o-animation-delay: 1.52s
}
UNKNOWN {
	LEFT: 150px; animation-delay: 1.71s; -moz-animation-delay: 1.71s; -webkit-animation-delay: 1.71s; -o-animation-delay: 1.71s
}
UNKNOWN {
	LEFT: 180px; animation-delay: 1.9s; -moz-animation-delay: 1.9s; -webkit-animation-delay: 1.9s; -o-animation-delay: 1.9s
}
UNKNOWN {
	LEFT: 210px; animation-delay: 2.09s; -moz-animation-delay: 2.09s; -webkit-animation-delay: 2.09s; -o-animation-delay: 2.09s
}
